<h1 mat-dialog-title>New To-do</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Text</mat-label>
    <input 
      type="text" 
      placeholder="Type your to-do here..." 
      matInput 
      [(ngModel)]="data" 
      name="text" 
      autocomplete="off"
      required minlength="3"
      #text="ngModel"
    >
    <mat-error *ngIf="text?.errors?.required">To do is required</mat-error>
    <mat-error *ngIf="text?.errors?.minlength">To do must be at least 3 character long</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="!(text.errors === null)">Create</button>
</div>
