<div [class.dark-theme]="isDark">
    <mat-toolbar [color]="themeColor">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span [routerLink]="['/', 'secured']" class="frame-toolbar-title">Notes</span>
        <span class="frame-toolbar-spacer"></span>

        <button mat-icon-button (click)="toggleTheme()" [matTooltip]="isDark ? 'Switch to light mode' : 'Switch to dark mode'">
        <mat-icon matTooltip="">
            brightness_6
        </mat-icon>
        </button>
        
        <button mat-button [matMenuTriggerFor]="menu" class="menu-button" matTooltip="Select a theme color">
            {{ themeColor }}
        </button>
        
        <ng-template #noRadio>
        radio_button_unchecked
        </ng-template>
        
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="themeColor = 'primary'">
                <mat-icon [color]="themeColor === 'primary' ? 'primary' : 'no-color'">
                <ng-container *ngIf="themeColor === 'primary'; else noRadio">radio_button_checked</ng-container>
                </mat-icon>
                Primary
            </button>
            <button mat-menu-item (click)="themeColor = 'accent'">
                <mat-icon [color]="themeColor === 'accent' ? 'accent' : 'no-color'">
                <ng-container *ngIf="themeColor === 'accent'; else noRadio">radio_button_checked</ng-container>
                </mat-icon>
                Accent
            </button>
        </mat-menu>
        
    </mat-toolbar>
    <mat-sidenav-container class="frame-sidenav-container">
        
        <mat-sidenav #sidenav [mode]="isHandset ? 'over' : 'side'" [fixedInViewport]="isHandset" fixedTopGap="56">
            <ngx-auth-firebaseui-user (onSignOut)="signOut()" (onAccountDeleted)="accountDeleted()"></ngx-auth-firebaseui-user>
        </mat-sidenav>
        
        <mat-sidenav-content>
            
            <ng-content></ng-content>
            
        </mat-sidenav-content>
        
    </mat-sidenav-container>
</div>
  
