<mat-card class="to-do-card" *ngIf="todoCard" [ngStyle]="{'background-color': colorHexCode}">
    <mat-card-content>
        <span class="mat-title">{{todoCard.text}}</span>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button aria-label="Done" *ngIf="isTodo" (click)="onDone()">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
  
