.note-list-main-container {
  display: flex;
  flex-direction: column;
}

.note-list-container {
  display: flex;
  flex-direction: column;
}

.note-list-new-container {
  width: 50%;
  align-self: center;
  padding-bottom: 16px;
  padding-top: 16px;
}

.note-list-new-btn-mobile {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.note-list-new-form {
  width: 100%;
}

.note-list-new-btn {
  width: 100%;
}
