.to-do-list-main-container {
  display: flex;
  flex-direction: column;
}

.to-do-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.to-do-card {
  flex: 1;
  min-width: 400px;
}

.to-do-list-new-container {
  width: 50%;
  align-self: center;
  padding-bottom: 16px;
  padding-top: 16px;
}

.to-do-list-new-btn-mobile {
  position: fixed;
  bottom: 16px;
  right: 8px;
}

.to-do-list-new-form {
  width: 100%;
}

.to-do-list-new-btn {
  width: 100%;
}
