<div class="to-do-list-main-container">
    <div class="to-do-list-new-container" *ngIf="!isHandset">
        <mat-card>
            <mat-card-header>
                <mat-card-title>New To-do</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="newTodoForm">
                    <mat-form-field appearance="fill" [color]="'primary'" class="to-do-list-new-form">
                        <mat-label>Text</mat-label>
                        <input matInput type="text" placeholder="Type your to-do here..." formControlName="text" autocomplete="off">
                        <mat-error *ngIf="newTodoForm.get('text')?.errors?.required">Todo is required</mat-error>
                        <mat-error *ngIf="newTodoForm.get('text')?.errors?.minlength">Todo must be at least 3 character long</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="to-do-list-new-btn" (click)="onCreateDesktop()" [disabled]="!newTodoForm.valid">Create</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="to-do-list-container">
        <app-to-do-card class="to-do-card" *ngFor="let todo of todos; let i = index" 
            [todo]="todo" 
            [colorHexCode]="getHexCode(i)"
            (edit)="onEdit(todo.key, todo.text, $event)"
            (done)="onDone(todo.key)"
            (delete)="onDelete(todo.key)"
            (undo)="onUndo(todo.key)"
        ></app-to-do-card>
    </div>
</div>

<button mat-fab color="primary" aria-label="Add new To Do" class="to-do-list-new-btn-mobile" *ngIf="isHandset" (click)="onCreateMobile()">
    <mat-icon>add</mat-icon>
</button>