
<div class="to-do-list-main-container">
    <div class="new-to-do-container" *ngIf="!isHandset">
        <mat-card>
            <mat-card-header>
                <mat-card-title>New To-do</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="newNoteForm" class="new-to-do-form-container">
                    <mat-form-field appearance="fill" [color]="'primary'">
                        <mat-label>To-do</mat-label>
                        <input matInput type="text" placeholder="Type your to-do here..." formControlName="text" autocomplete="off">
                    </mat-form-field>

                    <mat-button-toggle-group formControlName="color" >
                        <mat-button-toggle *ngFor="let color of colorOptionsKeys" value="color" [ngStyle]="{'background-color': colorOptionsMap[color]}">{{colorOptionsMap[color]}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button aria-label="Done">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div [ngClass]="isHandset ? 'to-do-list-container-mobile' : 'to-do-list-container-default'">
        <div class="child-container">
            <h2>To do</h2>
            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="to-do-list"
                (cdkDropListDropped)="drop($event)">
                <app-to-do-card class="to-do-card" *ngFor="let item of todo" cdkDrag [todoCard]="item" [isTodo]="true"></app-to-do-card>
            </div>
        </div>
          
        <div class="child-container">
            <h2>Done</h2>
            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="to-do-list"
                (cdkDropListDropped)="drop($event)">
                <app-to-do-card class="to-do-card" *ngFor="let item of done" cdkDrag [todoCard]="item" [isTodo]=false></app-to-do-card>
            </div>
        </div>
    </div>
</div>

<button mat-fab color="primary" aria-label="Add new To Do" class="to-do-list-new-btn" *ngIf="isHandset">
    <mat-icon>add</mat-icon>
</button>